@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:wght@400;500;700&display=swap");
$color-texto: rgb(236, 236, 236);
$color-acento: #640000;
$color-fondo1: #201c1c;
$color-fondo2: #201b1b;
$font-principal: "Roboto", sans-serif;
$font-acento: "Kaushan Script", cursive;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	/* Works on Firefox */
	scrollbar-width: thin;
	scrollbar-color: rgba(236, 236, 236, 0.7) #110b0b;
}
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 10px;
}
*::-webkit-scrollbar-track {
	background: #110b0b;
}
*::-webkit-scrollbar-thumb {
	background-color: rgba(236, 236, 236, 0.7);
	border-radius: 20px;
}

html:focus-within {
	scroll-behavior: smooth;
}
body {
	background: $color-fondo1;
	background: linear-gradient(to top right, $color-fondo2 0%, $color-fondo1 100%);
	color: $color-texto;
	font-family: $font-principal;
	position: relative;
	padding-top: 60px;
}
.mi-navbar {
	background-color: #1a130f;
	min-height: 60px;

	.navbar-brand{
		font: 1.5rem $font-acento;
	}

	#btn-nav {
		border: none;
	}
}
.mi-container {
	height: calc(100vh - 60px);
	position: relative;
	overflow-y: scroll;
	scroll-behavior: smooth;
}
.active {
	font: 1.2rem $font-acento;
}

.section {
	//scroll-snap-align: start;
	position: relative;
	min-height: calc(100vh - 60px);
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
	padding: 3rem 1rem;
}

.principal {
	background: linear-gradient(115deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
		url(../img/white-interior-blur-blurred-chair.webp) center/cover fixed;

	h1 {
		font-size: 3rem;
		/* text-transform: uppercase; */

		span {
			font: 5rem $font-acento;
			/* text-transform: capitalize; */
		}
	}
}
a {
	color: inherit;
}
.social-icons {
	font-size: 3rem;
	display: flex;
	gap: 1rem;

	a {
		padding: 1rem;

		&:link,
		&:visited {
			color: #ddd;
		}
		&:hover {
			transition: transform 0.3s;
			color: white;
			transform: translateY(5%);
		}
		&:active {
			transition: transform 0.1s;
			transform: scale(0.9) translateY(6%);
		}
	}
}

.goDown {
	position: absolute;
	bottom: 30px;
	padding: 1rem;
	font-size: 1.5rem;

	&:link,
	&:visited {
		color: #ddd;
	}
	&:active {
		transform: scale(0.9);
	}

	&:hover {
		animation: bounce 1.5s infinite;
		color: white;
	}
}

@keyframes bounce {
	70% {
		transform: translateY(20%);
	}
}

h2 {
	font-size: 3rem;
	margin-bottom: 1rem;
	font-weight: 400;
}
img {
	display: block;
	width: 100%;
	margin: 0 auto;
}

/****** Historia ******/
.section-text {
	p {
		font-size: 20px;
		margin-bottom: 0.5rem;
		line-height: 1.5;
	}
}

/***** Donde estamos ******/

.google-map {
	display: block;
	max-width: 100%;
	max-height: 90vw;
}

#map {
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
		url(../img/image-from-rawpixel-id-435177-jpeg.webp);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

/****** ESPECIALIDADES ******/

figure {
	margin-bottom: 1rem;
	position: relative;
	display: flex;
	align-items: flex-end;
	justify-content: center;

	figcaption {
		width: 100%;
		padding: 5px;
		font-size: 1.6rem;
		margin: 0 auto 5%;
		position: absolute;
		background-color: #11111188;
		/* text-transform: uppercase; */
	}
}

/****** MENU *****/
#menu {
	background: linear-gradient(115deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)),
		url(../img/glass-of-red-wine-and-bottle-on-bar-counter.webp);
	background-position: 30% center;
	background-size: cover;
	background-attachment: fixed;
}
.menu-container {
	background: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	font-size: 1.3rem;

	h4 {
		font: 2rem $font-acento;
	}
	.row .row {
		text-align: left;
		margin-bottom: 0.5rem;
	}
}

/****** FOOTER *****/
footer {
	text-align: center;
	padding: 2rem 0;

	.col-lg-4 {
		padding: 1.5rem 0;

		p:first-child {
			font: 1.5rem $font-acento;
			margin-bottom: 1.5rem;
		}
		p:last-child {
			margin-bottom: 0;
		}

		a:hover {
			color: inherit;
			text-decoration: none;
		}
	}
}
@media (min-width: 768px) {
	.principal {
		flex-direction: row;
		justify-content: space-around;
	}
	.social-icons {
		flex-direction: column;
	}
	h1 {
		text-align: left;
		font-size: 4rem;
	}
	img {
		width: 70vw;
		max-width: 600px;
	}
	figure img {
		width: 100%;
	}
	.img-destacada {
		filter: grayscale(1);
		&:hover {
			transition: filter 0.3s;
			filter: grayscale(0);
		}
	}
}

//  @media (min-width: 1200px) {
// 	.mi-container {
// 		overflow: auto;
// 		scroll-snap-type: y mandatory;
// 	}
// }
